.background {
    
    background-image: url("https://images7.alphacoders.com/359/thumb-1920-359790.jpg");
    height: 100vh;
    background-size: 100%;
}

.btn-info{
    background-color:grey;
    border-color:darkgray;
}

.card{
    background-color: whitesmoke;
}