.idea
/*.iml
/*/*.iml
/target
/*/target
/pom.xml.versionsBackup
/*/pom.xml.versionsBackup
/**/node_modules/
/**/.vscode/
yarn-error.log
**/npm-debug.log
/*/HELP.md
!.mvn/wrapper/maven-wrapper.jar
/.mvn/
/mvnw
/mvnw.bat
mvnw.cmd
/log/
*.log*